/*
   New Perspectives on HTML and CSS
   Tutorial 9
   Case Problem 1

   Kelsey's Diner Style Sheet

   Author:  Nicholas Dhannie  
   Date:    7-6-2021  

   Filename:         kdstyles.css
   Supporting Files: 

*/

img {
   border-width: 0px;
}

body{
	background-image:url("tan.jpg");
}

h1{
	text-align:center;
	color:green;
}

h5{
	text-align:center;
}

b{
	font-family:Arial, Helvetica, sans-serif;
	color:green;
}

